In [16]:
# Immutability of strings

In [1]:
name = "Sam"

In [2]:
name

'Sam'

In [3]:
name[0] = 'P'

TypeError: 'str' object does not support item assignment

In [15]:
# String concatenation

In [4]:
name[1:]

'am'

In [5]:
last_letters = name[1:]

last_letters

In [7]:
'P' + last_letters

'Pam'

In [8]:
x = 'Hello World'

In [9]:
x

'Hello World'

In [10]:
x + " it is beautiful outside"

'Hello World it is beautiful outside'

In [11]:
x = x + " it is beautiful outside"

In [12]:
x

'Hello World it is beautiful outside'

In [18]:
2 + 3

5

In [19]:
'2' + '3'

'23'

In [17]:
# String multiplication

In [13]:
letter = 'z'

In [14]:
letter * 10

'zzzzzzzzzz'

In [20]:
# String Methods

In [21]:
x = 'Hello World'

In [23]:
# In Jupyter Notebook, type period (.) then Tab to see the list of available methods

In [32]:
x.upper() # set all characters in the string to uppercase

'HELLO WORLD'

In [25]:
x

'Hello World'

In [27]:
x = x.upper() # to change the value of x, reassign the new value

In [28]:
x

'HELLO WORLD'

In [30]:
x.upper # this ony tells you of the function upper, without putting () to actually execute it

In [33]:
x.lower() # set all characters in the string to lowercase

'hello world'

In [35]:
x = 'Hello World'

In [36]:
x.split() # divide the string according to whitespace by default

['Hello', 'World']

In [37]:
x = 'Hi this is a string'

In [38]:
x.split()

['Hi', 'this', 'is', 'a', 'string']

In [39]:
x.split('i') # split the string by i's

['H', ' th', 's ', 's a str', 'ng']

In [40]:
print('hello')

hello