In [1]:
my_list = [1, 2, 3]

In [2]:
my_list

[1, 2, 3]

In [3]:
# Lists can hold different object types
my_list = ['STRING', 100, 23.2]

In [4]:
my_list

['STRING', 100, 23.2]

In [5]:
# Get the number of items in the list using len()
len(my_list)

3

In [6]:
# Use indexing and slicing, just like strings
my_list = ['one', 'two', 'three']

In [7]:
my_list[0]

'one'

In [8]:
my_list[1:]

['two', 'three']

In [9]:
# Concatenate lists together using +
another_list = ['four', 'five']

In [10]:
my_list + another_list

['one', 'two', 'three', 'four', 'five']

In [11]:
# Save as a new combined list
new_list = my_list + another_list

In [12]:
new_list

['one', 'two', 'three', 'four', 'five']

In [13]:
# Lists can be changed (mutable) vs. strings which are immutable
new_list

['one', 'two', 'three', 'four', 'five']

In [14]:
new_list[0] = 'ONE ALL CAPS'

In [15]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [16]:
# Add item to the end of the list using append()
new_list.append('six')

In [17]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [18]:
new_list.append('seven')

In [19]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six', 'seven']

In [20]:
# Remove an item from the end of the list and return it using pop() (default index: -1)
new_list.pop()

'seven'

In [21]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [22]:
# Save the removed item to a variable
popped_item = new_list.pop()

In [23]:
popped_item

'six'

In [24]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [25]:
# Remove a specific item from the list by passing its index position to pop() (reverse indexing works too)
new_list.pop(0)

'ONE ALL CAPS'

In [26]:
new_list

['two', 'three', 'four', 'five']

In [28]:
new_list = ['a', 'e', 'x', 'b', 'c']
num_list = [4, 1, 8, 3]

In [29]:
# Sort the items in the list in place using sort() (no returned values)
new_list.sort()

In [30]:
new_list

['a', 'b', 'c', 'e', 'x']

In [32]:
# Common error when passing the sorted list to a variable using sort()
my_sorted_list = new_list.sort()

In [33]:
# Since no value is returned by sort(), my_sorted_list is nothing (None / NoneType data type)
type(my_sorted_list)

NoneType

In [34]:
None

In [35]:
# Fix this problem by passing the sorted list to a new variable
new_list.sort()
my_sorted_list = new_list

In [36]:
my_sorted_list

['a', 'b', 'c', 'e', 'x']

In [37]:
num_list.sort()

In [38]:
num_list

[1, 3, 4, 8]

In [40]:
# Revert the items in the list using revert() (no returned values)
num_list.reverse()

In [41]:
num_list

[8, 4, 3, 1]